.acbp-move-box {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  cursor: move;
}

.acbp-ctrl-bar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .acbp-ctrl-btn {
    display: inline-block;
    margin: 0 auto;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0;
    z-index: 999;
    transition: background-color .2s;

    &.minimize {
      background-color: #8BD7E2;

      &:hover {
        background-color: #00BBCD;
      }
    }

    &.maximize {
      background-color: #96D6BF;

      &:hover {
        background-color: #1BB775;
      }
    }

    &.close {
      background-color: #E69EB2;

      &:hover {
        background-color: #E42D54;
      }
    }
  }
}

.acbp-note-container {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 50%;
  bottom: 50%;
  margin: 0 -15px -15px 0;

  &.playing .acbp-note {
    display: block;
  }

  .acbp-note {
    display: none;
    opacity: 0;
    width: 16px;
    height: 16px;
    position: absolute;
    z-index: 999;

    .icon {
      width: 100%;
      height: 100%;
    }
  }

  #acbp-note1 {
    animation: acbp-note-move-left1 2s linear 0s infinite normal;
    @keyframes acbp-note-move-left1 {
      0% {
        left: 0;
        top: 0;
        opacity: 0;
      }
      50% {
        opacity: 1;
        transform: rotate(9deg);
      }
      100% {
        left: 200px;
        top: -90px;
        opacity: 0;
      }
    }

    @keyframes acbp-note-move-right1 {
      0% {
        right: 0;
        top: 0;
        opacity: 0;
      }
      50% {
        opacity: 1;
        transform: rotate(9deg);
      }
      100% {
        right: 200px;
        top: -90px;
        opacity: 0;
      }
    }
  }

  #acbp-note2 {
    animation: acbp-note-move-left2 2s linear 0.4s infinite normal;
    @keyframes acbp-note-move-left2 {
      0% {
        left: 0;
        top: 0;
        opacity: 0;
      }
      50% {
        opacity: 1;
        transform: rotate(-9deg);
      }
      100% {
        left: 200px;
        top: -80px;
        opacity: 0;
      }
    }

    @keyframes acbp-note-move-right2 {
      0% {
        right: 0;
        top: 0;
        opacity: 0;
      }
      50% {
        opacity: 1;
        transform: rotate(-9deg);
      }
      100% {
        right: 200px;
        top: -80px;
        opacity: 0;
      }
    }
  }

  #acbp-note3 {
    animation: acbp-note-move-left3 2s linear 0.7s infinite normal;
    @keyframes acbp-note-move-left3 {
      0% {
        left: 0;
        top: 0;
        opacity: 0;
      }
      50% {
        opacity: 1;
        transform: rotate(9deg);
      }
      100% {
        left: 200px;
        top: -70px;
        opacity: 0;
      }
    }

    @keyframes acbp-note-move-right3 {
      0% {
        right: 0;
        top: 0;
        opacity: 0;
      }
      50% {
        opacity: 1;
        transform: rotate(9deg);
      }
      100% {
        right: 200px;
        top: -70px;
        opacity: 0;
      }
    }
  }
}
